/*.fondo1{
    background-color:rgb(28, 148, 138);
    border-style: solid;
    width: 750px;
    height: 1750px;
} */

.encabezadoPrincipal{
    border-style: solid;
    width: 199px;
    position:relative;
    left: 205px;
    top: 150px;
}

.foto{
    border-style: solid;
    width: 250px;
    border-radius: 150px;
    position: relative;
    left:950px;
    top: -45px;
}   

.seccionEstudios{
    border-style: solid;
    width: 450px;
}

